*{
	margin: 0px;
	padding: 0px;
}
header{
	width: 100%;
	height: 70px;
	position: relative;
	z-index: 1;
	background-color: #fff;
}
#logo{
	width: 10%;
	float: left;
}
#logo img{
	width: 100px;
	margin-left: 20px;
}
header nav{
	float: right;
	width: 60%;
}
header nav ul {
    list-style-type: none;
	text-align: right;
}
header nav ul li {
    display: inline-block;
    line-height: 100px;
    margin-right: 30px;
	font-size: 20px;
	font-family: 'Rubik';
}
header nav ul li .aktivna{
	color: #000000;
}
header nav ul li a{
	text-decoration: none;
	color: #bb8d50;
}
header nav ul li a:hover{
	color: #000000;
}
#pozadina{
	background-image: url(../pictures/pozadina.jpg);
	background-size: cover;
	height: 600px;
	background-attachment: fixed;
}
.transparent {
    width: 100%;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.3); 
}
#naslov{
	width: 100%;
	text-align: center;
	margin: 40px;
	bottom: 50px;
	position: absolute;	
}
#naslov h1{
	color: #fff;
    font-family: 'IBM Plex Serif';
	text-align: center;
	font-size: 60px;
}
#blok1{
	width: 100%
}
.blok2{
	
	margin: 0px 20px;
}
#onama {
    width: 100%;
    padding-top: 20px;
	padding-bottom: 20px;
    text-align: center;   
}
#onama h1{
	text-align: center;
	font-size: 50px;
	color: #bb8d50;
	font-family: 'Dancing Script';
}
#onama p{
	font-family: 'Amiri';
	font-size: 20px;
}
.rezervacija{
	background: linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url('../pictures/img2.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: #fff;
	padding: 40px 60px;
}
.rezervacija-form{
	display: inline-block;
}
.lista{
	float: left;
	width: 140px;
	margin-left: 50px;
}
.rezervacija-form input[type="submit"]{
	background: #bb8d50;
	color: #fff;
	font-size: 15px;
	width: 100px;
	height: 50px;
	border-radius: 5px;
}
#sub{
	padding-top: 18px;
}
.rezervacija-form label, .rezervacija-form input {
	width: 100%;
}
.rezervacija-form label{
	font-weight: 40px;
	word-spacing: 5px;
	padding-bottom: 8px;
}
.rezervacija-form input:not(.dugme){
	margin: 4px 0px 16px 0px;
	padding: 12px 15px;
	border-radius: 5px;
	font-size: 15px;
	border: none;
}
.rezervacija-form input:focus{
	outline: 0px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.4);
}
/*kontakt*/
h1{
	text-align: center;
	font-family: 'Balsamiq Sans';
}
#okvirzakontakt{
	display: flex;
    flex-wrap: wrap;
}
#hotel-info {
    width: 50%;
    text-align: center;
    font-size: 20px;
	animation-name: animacija1;
	animation-duration: 3s;
	position: relative;
}
@keyframes animacija1{
	0%{
		left: -400px;
	}
	100%{
		left: 0px;
	}
}
#tekst-info{
	text-align: center;
    padding-top: 30px;
}
#kontaktforma{
	width: 45%;
	margin-left: 20px;
}
.podatak{
	width: 45%
}
#kontaktforma input, #kontaktforma textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #bb8d50;   
}
.form {
    width: 100%;
    margin-bottom: 10px;
}
.form textarea {
    resize: vertical;
    height: 100px;
}
#dugmeporuka {
    width: 30%;
    background-color: #bb8d50;
    border: 1px solid #bb8d50;
    padding: 10px;
}
#lokacija{
	width: 45%;
	margin-left: 50px;
	padding-bottom: 10px;
}
	
/*sobe*/
.okvir{
	width: 90%;
	margin: 0px auto;
}
#sobe{
	height: 40px;
    width: 100px;
    padding-top: 10px;
	margin: 0px auto;
	margin-bottom: 50px;
}
#sobe h1{
	font-family: 'Amiri';
	font-size: 40px;
	text-align: center;
}
.sobe{
	display: flex;
    flex-wrap: wrap;
}

.slikasobe{
	width: 45%;
	margin-left: 5%;
}
.opissobe{
	text-align: center;
	padding: 20px 0px;
	width: 45%;
	background-color: #bb8d50;
}
.opissobe2{
	text-align: center;
	padding: 20px 0px;
	width: 45%;
}
.opissobe h2{
	font-family: 'Dancing Script';
	font-size: 30px;
}
.opissobe p{
	font-family: 'Open Sans';
	font-size: 18px;
}
.opissobe ul{
	list-style-type: none;
	font-family: 'Open Sans';
}
.opissobe input[type="button"]{
	background: #fff;
	color: #bb8d50;
	font-size: 15px;
	width: 100px;
	height: 30px;
}
.opissobe2 h2{
	font-family: 'Dancing Script';
	font-size: 30px;
}
.opissobe2 p{
	font-family: 'Open Sans';
	font-size: 18px;
}
.opissobe2 ul{
	list-style-type: none;
	font-family: 'Open Sans';
}
.opissobe2 input[type="button"]{
	background: #bb8d50;
	color: #fff;
	font-size: 15px;
	width: 100px;
	height: 30px;
}
/*galerija*/
.container {
    width: 850px;
	height: 650px;
    margin: 5px auto;
	padding: 20px;
    position: relative;
}
.container h1 {
    text-align: center;
	font-family: 'Dancing Script';
	font-size: 40px;
	margin-top: 5px;
	margin-bottom: 10px;
}
.slika {
    margin: 5px;
    float: left;
}
.slika img{
	width: 270px;
    margin: 0px auto;
}
.slika img:hover{
	transform: scale(2, 2);
	transition: 1s transform;	
}	

/*o autoru*/
#oautoru{
	height: 60px;
    width: 200px;
    padding-top: 15px;
	margin: 0px auto;
	margin-bottom: 50px;
}
#oautoru h1{
	font-family: 'Readex Pro';
	font-size: 40px;
	text-align: center;
}
.omeni{
	height: 450px;
	padding: 10px;
	margin-bottom: 20px;	
}
.biografija{
	padding: 10px;
	display: flex;
    justify-content: center;
    align-items: center;
}
.biografija img {
    width: 400px;
    border-radius: 5px;
	animation-name: animacija2;
	animation-duration: 2s;
	position: relative;
}
@keyframes animacija2{
	0%{
		left: -400px;
	}
	100%{
		left: 0px;
	}
}
.biografija p {
    width: 650px;
    text-indent: 45px;
    line-height: 1.6;
    text-align: justify;
    color: #bb8d50;
	font-family: 'Slabo 27px';
    font-size: 20px;
    margin-left: 35px;
	animation-name: animacija3;
	animation-duration: 2s;
	position: relative;
}
@keyframes animacija3{
	0%{
		right: -400px;
	}
	100%{
		right: 0px;
	}
}

footer{
	background-color: #bb8d50;
	width: 100%;
	padding-top: 10px;	
}
.social{
	float: right;
	margin-right: 50px;
}
.social ul {
    list-style-type: none;
    text-align: right;
    margin-right: 5px;
}
.social ul li {
    display: inline-block;
    width: 10px;
    padding: 5px 0;
    margin: 0px 5px;
}
.social ul li a {
    color: #fff;
    text-decoration: none;
    width: 20px;
}
.copyright{
	margin-left: 5px;
    color: #fff;
	float: left;
}
.cleaner{
	clear: both;
}



